/*LIGHT*/

/*background*/
.background {
    -fx-background-color: #FFFFFF;
}

/*UC button*/
.bt-uc {
    -fx-alignment: center;
    -fx-background-color: #a3b18aff;
    -fx-background-radius: 100%;

    -fx-text-fill: #3a5a40;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;

    -fx-cursor: hand;
}

.bt-uc:hover {
    -fx-background-color: #a3b18a90;
}

/*saveChanges button*/
.bt-saveChanges {
    -fx-background-color: #90a955ff;
    -fx-pref-width: 297px;
    -fx-pref-height: 37px;

    -fx-text-fill: white;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;

    -fx-cursor: hand;
}

.bt-saveChanges:hover {
    -fx-background-color: #90a95590;
}

/*back button*/
.bt-back {
    -fx-background-color: #3a5a40ff;
    -fx-pref-width: 120px;
    -fx-pref-height: 25px;

    -fx-text-fill: white;
    -fx-font-family: Calibri;
    -fx-font-size: 12px;
    -fx-padding: 0 5 0 0;
    -fx-alignment: center;

    -fx-wrap-text: true;

    -fx-cursor: hand;
}

.bt-back:hover {
    -fx-background-color: #3a5a4090;
}


/*stepAction button*/
.bt-stepAction1 {
    -fx-background-color: #588157ff;

    -fx-text-fill: #344e41;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;

    -fx-cursor: hand;
}

.bt-stepAction1:hover {
    -fx-background-color: #58815790;
}



/*stepAction4 button*/
.bt-stepAction4 {
    -fx-background-color: #132a13ff;

    -fx-text-fill: white;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;

    -fx-cursor: hand;
}

.bt-stepAction4:hover {
    -fx-background-color: #132a1390;
}


/*view title*/
.view-title {
    -fx-text-fill: #344e41;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

/*view subtitle*/
.view-subtitle {
    -fx-text-fill: #3a5a40;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

/*error label*/
.error-label {
    -fx-text-fill: #ff0000;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

/*standard text*/
.std-text {
    -fx-text-fill: #000000;
    -fx-font-family: Calibri;
    -fx-font-size: 18px;
}

/*standard text light*/
.std-text-light {
    -fx-text-fill: white;
    -fx-font-family: Calibri;
    -fx-font-size: 14px;
}

/*result text*/
.r-text {
    -fx-text-fill: #979797;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}